<!--variables:-->
<!--data_item - object of EmailData type-->
<!--report - report model instance-->

<% table_styles = "border: 1px solid #e8e8e8; border-collapse: collapse; width: 100%;" %>
<% tr_styles = "border: 1px solid #e8e8e8;" %>
<% td_styles_odd = "border: 1px solid #e8e8e8; padding: 5px; background-color: #f4f5f5;" %>
<% td_styles_even = "border: 1px solid #e8e8e8; padding: 5px; background-color: #ffffff;" %>
<% th_styles = "border: 1px solid #e8e8e8; border-right: 1px solid #d7dce4; padding: 5px; background-color: #e6e9ee; text-align: center;" %>
<% tf_styles = "" %>
<% tf_styles_empty = "" %>

<table style="<%= table_styles %>">
  <thead>
  <tr style="<%= tr_styles %>">
    <% data_item.columns.each do |column| %>
        <td style="<%= th_styles %>"><%= data_item.column_title(column) %></td>
    <% end %>
  </tr>
  </thead>
  <% unless data_item.footers.blank? %>
      <tfoot>
      <tr style="<%= tr_styles %>">
        <% data_item.columns.each do |column| %>
            <% footer = data_item.footer(column) %>
            <td style="<%= footer ? tf_styles : tf_styles_empty %>"><%= footer %></td>
        <% end %>
      </tr>
      </tfoot>
  <% end %>
  <tbody>
  <% data_item.decorated_collection.each_with_index do |row, index| %>
      <tr style="<%= tr_styles %>">
        <% data_item.columns.each do |column| %>
            <td nowrap style="<%= index.odd? ? td_styles_odd : td_styles_even %>"><%= data_item.column_value(row, column) %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>